@font-face {
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  src: url(Roboto-Regular.ttf);
}


@font-face {
  font-family: Roboto-Italic !important;
  font-weight: normal;
  font-style: italic;
  src: url(Roboto-Italic.ttf);
}

body {
    font-family: Roboto, serif;
    line-height: 1.35em !important;
    font-size: 18px;
    color: #444;
}

h1 {
    font-size: 2em;
    margin: .67em 0;
}

em, i {
    font-family: Roboto-Italic, serif !important;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 500;
    line-height: 1.4
}

p {
    text-align: justify;
    text-indent: 2em;
}

img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}