**/bin/*
**/obj/*
**_ReSharper*
**/.sonar/*
Code/**/packages/*
**.suo
**.user
**.dbmdl
**.schemaview
DB/**/sql
**.orig
**.rdl.data
**/StyleCopViolations.xml
_references.js
*_*_*.csproj.swp
*_*_*.csproj
/Code/.vs
/Code/.vscode/
*.nupkg
**/node_modules/**
**/react-widgets/dist/**
**/react-widgets/*.log
/Code/.idea/.idea.IDEV/.idea/.name
/Code/.idea/.idea.IDEV/.idea/contentModel.xml
/Code/.idea/.idea.IDEV/.idea/modules.xml
/Code/.idea/.idea.IDEV/.idea/vcs.xml
/Code/.idea/.idea.IDEV/.idea/workspace.xml
/Code/.idea/.idea.IDEV/riderModule.iml
/Code/.idea/config/applicationhost.config
/Code/.idea/.idea.AllIn/.idea/.name
/Code/.idea/.idea.AllIn/.idea/contentModel.xml
/Code/.idea/.idea.AllIn/.idea/modules.xml
/Code/.idea/.idea.AllIn/.idea/workspace.xml
/Code/.idea/.idea.AllIn/.idea/vcs.xml
/Code/.idea/.idea.AllIn/riderModule.iml
/Code/.idea
Code/\.idea/\.idea\.AllIn/\.idea/
.idea
*/.idea/*
**/logs/**

