@inherits LayoutComponentBase

<MudThemeProvider @rendermode="InteractiveServer" />
<MudPopoverProvider @rendermode="InteractiveServer" />
<MudSnackbarProvider @rendermode="InteractiveServer" />


<div class="page">
    <main>
        <MudAppBar Color="Color.Primary" Fixed="false">
            <MudIconButton Icon="@Icons.Material.Filled.LibraryBooks" Color="Color.Inherit" Edge="Edge.Start" />
            <MudText Typo="Typo.h5" Class="ml-3">Elib2Ebook</MudText>
            <MudSpacer />
        </MudAppBar>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>